* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 100%;
  height: 100vh;
  display: flex;
  position: relative;
}
.leftSide {
  width: calc(100% - 85%);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.logo {
  margin-top: 10px;
}
.navv {
  margin-top: 20px;
  height: 25vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.navv > ul {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
}
.navv > ul > li {
  list-style: none;
}
.navv > ul > li > button {
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.navv > ul > li > button:hover {
  background-color: #ededed;
  border-radius: 10px;
  padding: 5px 10px;
}
.Tweet {
  background-color: #1da1f2 !important;
  color: #fff;
  border-radius: 10px;
  padding: 10px 20px;
}
.logooo {
  border-radius: 50%;
  background-color: #000;
  width: 20px;
  height: 20px;
}
.left-bottom {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
.button-logout {
  cursor: pointer;
  display: flex;
  align-items: center;
  border: none;
  background-color: transparent;
}
.user-logout {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.middle {
  width: calc(100% - 35%);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.rightSide {
  width: calc(100% - 80%);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: sticky;
  top: 0;
  align-items: center;
}
.middle > .home-top {
  height: 5%;
  display: flex;
  align-items: center;
}
.insertPost {
  border: 1px solid rgb(235, 238, 240);
  display: flex;
  width: 100%;
  height: 15%;
  padding: 15px 0;
  flex-direction: column;
  align-items: center;
}
.firsttlast > .firstandlastname{
  font-weight: 700;
}
.insertPost > .postForm {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}
.postForm > div {
  height: 50%;
}
.postForm > .post-up {
  width: 100%;
  display: flex;
  margin-left: 20px;
  align-items: center;
}
.postForm > .post-up > input {
  width: 100%;
  border: none;
  margin-left: 10px;
}
.post-up > input:focus {
  outline: none;
}
.divider {
  background-color: rgba(247, 249, 250, 1);
  width: 100%;
  height: 2%;
  padding: 0px 0px 9px 0px;
  gap: 0px;
  opacity: 0px;
}
.post-down {
  display: flex;
  margin-right: 20px;
  justify-content: flex-end;
  width: 100%;
}
.users {
  width: 85%;
  height: 30%;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #eee;
  margin-bottom: 10px;
  border-radius: 16px;
}
.copyRight {
  width: 85%;
}
.logooo {
  background-image: url("../images/gpt.png");
  background-size: cover;
  width: 30px;
  height: 30px;
}
.users > .user-container {
  display: flex;
  width: 100%;
  height: 100%;
}
.users > h3 {
  margin: 5px 0;
}
.details > .linkk {
  text-decoration: none;
}
.userr {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-top: 1px solid #d3d3d3;
  border-bottom: 1px solid #d3d3d3;
}
.post-down > button {
  background-color: rgba(29, 161, 242, 1);
  color: #fff;
  border: none;
  padding: 5px 15px;
  height: 30px;
  cursor: pointer;
  border-radius: 12px;
}
.thread {
  width: 100%;
}
.postContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(235, 238, 240);
  padding: 10px 0;
}
.thread-up {
  width: 100%;
  display: flex;
}
.thread-up > div {
  margin: 5px 5px;
  font-size: 20px;
}
.thread-down{
  width: 100%;
  display: flex;
  justify-content: flex-start;
}
.thread-down > button{
  margin: 0 15px;
  border: none;
  background-color: transparent;
}
.home-top{
  width: 100%;
  border: 1px solid rgb(235, 238, 240);
  padding: 15px 0;
}
.home-top > h2{
  margin: 0 15px;
}